<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Site</title>
    <link href="{{ url_for('static', path='/css/errors.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <h1 class="logo_name">Movie Search</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="{{ url_for('Search') }}">Movies</a></li>
            <li><a href="#">TV</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="hero">
        <div class="hero-image">
            <img src="https://media.giphy.com/media/1zKx06Wnvu8Bw/giphy.gif" alt="Movie Gif">
        </div>
        <div class="hero-message">
            <h2>Welcome to Movie Search</h2>
            <p>Unlock the full content by <a class="login-link" href="{{ url_for('login') }}">joining our
                community</a> today!</p>

        </div>
    </section>
</main>
<footer>
    <p>&copy; 2023 Movie Search, Inc.</p>
</footer>
</body>
<script>
   // Get access token from cookie and log to console
    const accessToken = document.cookie.split('=')[1];
    console.log(accessToken);
</script>
</html>
