<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Video Player with Chat </title>
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet"/>
    <link href="{{ url_for('static', path='/css/player_chat.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
    <div id="user_owner" style="display:none;">{{ user_owner }}</div>
    <div id="control_host" style="display:none;">{{ control_host }}</div>
    <div id="control_port" style="display:none;">{{ control_port }}</div>
    <div id="video_host" style="display:none;">{{ video_host }}</div>
    <div id="video_port" style="display:none;">{{ video_port }}</div>
    <div id="chat_host" style="display:none;">{{ chat_host }}</div>
    <div id="chat_port" style="display:none;">{{ chat_port }}</div>
    <div id="path_video_socket" style="display:none;">{{ path_video_socket }}</div>
    <div id="path_chat_socket" style="display:none;">{{ path_chat_socket }}</div>
    <div id="path_control_socket" style="display:none;">{{ path_control_socket }}</div>
    <div id="username" style="display:none;">{{ username }}</div>
    <!--    <div id="path_web_socket" style="display:none;">{{ path_web_socket }}</div>-->
</head>
<body>
<header>
    <h1 class="logo_name">Movie Search</h1>
    <nav>
        <ul>
            {% if is_owner %}
                <button id="hide-control-box" onclick="toggleControlBox()">Show control panel</button>
            {% endif %}
            <li><a href="#">Home</a></li>
            <li><a href="{{ url_for('Search') }}">Movies</a></li>
            <li><a href="#">TV</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </nav>
</header>
<div class="video-container">
    <div class="control-box">
        <h3>Control panel</h3>
        <form id="panel by owner">
            <input id="name_client" type="text" placeholder="User name">
            <select id="control_command">
                <option id="delete_option">Delete user</option>
            </select>
            <button type="button" onclick="executeControl(event)">Execute</button>
        </form>
    </div>
    <video
            id="my-video"
            class="video-js"
            controls
            muted
            preload="auto"
            width="640"
            height="400"
            poster="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/09B5E23DC281415A7B14D33D4EA08D52A4E74AD6FCB9E6C9FC604AF6910054F4/scale?width=1200&aspectRatio=1.78&format=jpeg"
            data-setup="{}">

        <source src="/api/v1/stream/{{ film_id }}" type="video/mp4"/>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>

    <div class="chat-box">

        <h2>Chat</h2>
        <div id="messages">
            <!-- Add more messages here -->
        </div>
        <form id="create_message">
            <input id="messageText" type="text" placeholder="Type your message...">
            <button type="button" onclick="sendMessageChat(event)">Send</button>
        </form>
    </div>
</div>
<script src="{{ url_for('static', path='/js/owner_control.js') }}"></script>
<script src="{{ url_for('static', path='/js/chat.js') }}"></script>
<script src="{{ url_for('static', path='/js/video.js') }}"></script>
<script src="{{ url_for('static', path='/js/refresh_token.js') }}"></script>

<script>
    function toggleControlBox() {
        const controlBox = document.querySelector('.control-box');
        if (controlBox.style.display === 'flex') {
            controlBox.style.display = 'none';
            document.getElementById('hide-control-box').innerHTML = 'Show control panel';
        } else {
            controlBox.style.display = 'flex';
            document.getElementById('hide-control-box').innerHTML = 'Hide control panel';
        }
    }


</script>
</body>

</html>
